<div class="container">
  <h1 class="logo"><img src="../assets/wicky_logo_bg.png" style="width: 70px;height: 70px;"alt="Logo"></h1>
  <nav>
    <ol>
      <li><a class="nav-items z-o" href="#about-me">About</a></li>
      <li><a class="nav-items z-o" href="#jobs">Experience</a></li>
      <li><a class="nav-items z-o" href="#projects">Projects</a></li>
      <li><a class="nav-items z-o" href="#get-in-contact">Contact</a></li>
      <button class="bttn"><li><a class="nav-resume" href="#">Resume</a></li></button>
    </ol>
  </nav>
</div>


<router-outlet></router-outlet>