/* You can add global styles to this file, and also import other style files */
html{
    background-color: #181D4E;
    counter-reset: item; 
}
main{
    counter-reset: header_item;
    
}
.media-bar {
    position: fixed;
    top: 80%;
    left: 3%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.media-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #8892b0;
    font-size: 13px;
    width: 22px;
}
.email-bar{
    position: fixed;
    top: 80%;
    right: 3%;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 50%;
}

.email-bar a{
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: #8892b0;
    font-size: 14px;
    text-decoration:none;
}
.email-bar::after{
    content: "";
    display: block;
    width: 1px;
    height: 250px;
    background-color: rgb(168, 178, 209);
    margin-top: 80%;
    margin-right: -26px;
}
.media-bar::after{
    content: "";
    display: block;
    width: 1px;
    height: 450px;
    background-color: rgb(168, 178, 209);
    margin-top: 50%;
    margin-left: 28px;
}

.git-icon{
    fill: currentColor;
}
.git-icon:hover{
    fill: #EDAE49;
}
.link-icon{
    fill: currentColor;
}
.link-icon:hover{
    fill: #EDAE49;
}
.email:hover{
    color:#EDAE49;
}
.active{
    background-color:#edae490d;
    color: #EDAE49;
    border-left: 2px solid #EDAE49;
}
/***********************/
/*  Navigation CSS     */
/***********************/
.container {
    padding-top: 12px;
    width: 90%;
    top: 0;
    margin: 0 auto;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    background-color: #181D4E !important;
    position: fixed;
    top: 10;
    right: 0;
    transition: transform 0.4s;
    z-index: 3;

}

.scroll-down .container {
    transform: translate3d(0, -100%, 0);
}
.scroll-up .container{
    transform: none;
}
.scroll-up .container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
    width: 100%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  margin-top: -1px;
  color: #64ffda;
  margin-left: -77%;
}

nav {
  float: right;
  background-color: #181D4E;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav h1{
    display: inline-block;
}
nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 10px;
    position: relative;
}

nav .nav-items {
    color:#a8b2d1;
    text-decoration: none;
    font-size: 13px;
}
nav .resume
nav .bttn{
    color: #EDAE49;
}

nav a:hover{
    color: #EDAE49;
}
.z-o::before{
    counter-increment: item;
    content: "0" counter(item) ".";
    text-align: right;
    color: #EDAE49;
    font-size: 13px;
    margin-right: 1em;
}
.bttn{
    color: #EDAE49;
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    margin-left: 8px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color:#EDAE49;
    border-image: initial;
    border-radius: 3px;
    text-decoration: none;
}
.bttn:hover{
    background:#edae490d;
}
nav .nav-resume{
    color:#EDAE49;
    text-decoration: none;
}

/***********************/
/*  Intro CSS          */
/***********************/
#intro{
    max-width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    margin-left:12%;
    padding-top: 7%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Hica Neue", "Segoe UI", Arial, sans-serif;

}
#intro > h1{
    font-size:18px;
    padding-top:3em;
    margin: 0px 0px -50px 0px;
    color: #EDAE49;
    font-weight:normal;
}
#intro > h2{
    font-size:66px;
    font-weight: 700;
    color: rgb(204, 214, 246);
    display: block;
    max-width: 100%;
    margin-bottom: -70px;
}
#intro > h3{
    font-weight: 600;
    font-size: 69px;
    color:#a8b2d1;
    margin-bottom: -20px;
    
}
#intro > p{
    color:#8892b0;
    display: block;
    margin-block-start: 4em;
    margin-block-end: 4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.8;
    font-size: 17px;
    max-width: 50%;
    margin-bottom: 50px;
}
#intro > button{
    padding-top: 1.3rem;
    padding-right: 0.7rem;
    padding-bottom: 1.3rem;
    padding-left: 0.7rem;
}
/***********************/
/*  About Me CSS       */
/***********************/
#about-me{
    max-width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    margin-left:12%;
    padding-top:100px;
    padding-right:15%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Hica Neue", "Segoe UI", Arial, sans-serif;
}
.type-header{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    font-size: 34px;
    margin: 10px 0px 40px;    
    color: rgb(204, 214, 246);
    font-weight: 600;
}
.z-t::before{
    counter-increment: header_item;
    content: "0" counter(header_item)".";
    text-align: right;
    color: #EDAE49;
    font-size: 30px;
    margin-right: 1em;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;    
}
.z-t::after{
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: rgb(48, 60, 85);
    position: relative;
    margin-left: 20px;
}
.about-me-content > p{
    font-size: 16px;
    color:#8892b0;
    display: block;
    margin-block-start: 2.7em;
    margin-block-end: 4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.3;
    max-width: 57%;
}
.lia{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 13px;
    color: rgb(136, 146, 176);
}
.d2grid{
    display: grid;
    grid-template-columns: 20% 20%;
    grid-gap: 2em;
    grid-auto-rows: 100px;
    margin-top: -3em;
}
.about-portrait{
    margin-left: 65%;
    margin-top: -40%; 
}
/***********************/
/*  Jobs CSS           */
/***********************/
#jobs{
    max-width: 1000px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding-top: 150px;
    margin-left:22%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Hica Neue", "Segoe UI", Arial, sans-serif;
}
.jobs-header{
    align-items: center;
    -webkit-box-align: center;
    width: 100%;
    white-space: nowrap;
    padding-bottom:41px;
}
#jobs > h3{
    font-weight: 600;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bttnlist button{
    width: 100%;
    cursor: pointer; 
    width: 100%; 
    display: block;
    border-left: 2px solid rgb(48, 60, 85);
    border-bottom: none; /* Prevent double borders */
    border-right:none;
    border-top:none;
    padding: 0px 20px 2px;
    white-space: nowrap;
    text-align: left;
    height: 32px;
    font-size:15px;
}
.bttn-grp{
    background-color: #181D4E;
    color: rgb(168, 178, 209);
}
.bttn-grp:hover {
    background-color:#edae490d;
    color: #EDAE49;
    border-left: 2px solid #EDAE49;
}
.list-content{
    display: grid;
    grid-template-columns: 15% 20%;
    grid-gap: 1em;
    grid-auto-rows: 100px;
    margin-top: -3em;
}
.panel-header{
    position: relative; 
    width: 100%;
    height: 40px;
    width: 450px;
    padding-right: 250px;
    font-size: 20px; 
    padding-top: 3px;
    padding-left: 30px;
    color: rgb(204, 214, 246);
}
.pnlhdrdte{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: rgb(168, 178, 209);
    margin-bottom: 30px;
    padding-left: 30px;
} 
.pnllst{
    padding-left: 10px;
    width: 550px;
    font-size: 15px;
    color: rgb(136, 146, 176);
}
.pnllst ul li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 1.5em;
}
.jobHdPnl{
    color: #EDAE49;
}
/***********************/
/*    Projects CSS     */
/***********************/
#projects{
    max-width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding-top: 100px;
    margin-left:13%;
    padding-bottom:150px;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Hica Neue", "Segoe UI", Arial, sans-serif;
}
.project-box{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #edae490d;
    color: rgb(136, 146, 176);
    line-height: 1.3;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    margin: 0.5em;
    height: 300px;
    border-radius: 7px; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
}
.inner-item{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 90%;
    background-color: #edae490d;
    padding: 1rem 1.75rem;
}
.grid-header{
    color: #EDAE49;
    font-size: 28px;
}
.inner-header{
    display:grid;
    grid-template-columns:90% 10%
}
.grid-header > p{
    color: rgb(204, 214, 246);
    font-size: 13px;
    line-height: 1.3em;
}
#project-grid{
    gap: 12px;
    display: grid;
    grid-template-columns: 27% 27% 27%;
}
.type-cen{
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    font-size: 40px;
    margin: 10px 0px 40px;    
    color: rgb(204, 214, 246);
    font-weight: 600;
    margin-left: -85px;

}
.num::before{
    counter-increment: header_item;
    content: "0" counter(header_item)".";
    text-align: right;
    color: #EDAE49;
    font-size: 30px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;    
}
.inner-header a{
    display: inline-block;
    color: #8892b0;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    width: 26px;
}


/*****************************/
/*  Getting in Contact CSS   */
/*****************************/
#get-in-contact{
    
    min-height: 50vh;
    text-align: center;
    max-width: 600px;
    padding: 150px 0px 50px 0px;
    margin: 0px auto 100px;
    width: 100%;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Hica Neue", "Segoe UI", Arial, sans-serif;
    
}
.contact-header{
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    display: block;
    color: #EDAE49;
    font-size: 15px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 0px -50px;
}
.contact-title{
    font-size: 50px;
    font-weight: 600;
    color: rgb(204, 214, 246);
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.contact-info{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: rgb(136, 146, 176);
    line-height: 1.8;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 19px;
    margin-top: -20px;
}
.bttn-c{
    margin-top: 50px;
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #EDAE49;
}
#get-in-contact > p{
    max-width: 100%
}